                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                body,
                html {
                    background: url(./images/b-image.gif);
                    background-position: absolute;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    background-repeat: no-repeat;
                }
                /* ############################################################################################## LOADING SPINNER */
                
                .loadingDiv-parent {
                    position: fixed;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    z-index: 999998;
                }
                
                .loadingDiv {
                    position: fixed;
                    text-align: center;
                    top: 40%;
                    left: 49%;
                    z-index: 999999;
                }
                
                .loadingDiv .loading-image {
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    z-index: 10000;
                }
                /* Beginning code For cursor inside a circle */
                
                .circle {
                    position: fixed;
                    top: 0;
                    left: 0;
                    pointer-events: none;
                    z-index: 10000;
                }
                
                .circle::before {
                    content: "";
                    display: block;
                    width: 35px;
                    height: 35px;
                    border: 1.5px solid #aaa;
                    border-radius: 50%;
                    background: transparent;
                    transform: translate(-50%, -50%);
                    animation: pulse 300ms ease-in-out alternate infinite
                }
                
                p {
                    font-size: 1.5rem;
                }
                
                @keyframes pulse {
                    from {
                        transform: translate(-50%, -50%) scale(.8);
                    }
                    to {
                        transform: translate(-50%, -50%) scale(1.5);
                    }
                }
                /* End of code For cursor inside a circle */
                
                .container {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-40%, -40%);
                    /* background: rgb(18, 205, 238); */
                    background: linear-gradient(to bottom, #003366 0%, #0099cc 100%);
                    border-radius: 14px;
                    padding-bottom: 20px;
                    width: 320px;
                }
                
                .display {
                    position: relative;
                    width: 100%;
                    height: 100px;
                    padding: 40px 0;
                    /* background: #0a887d; */
                    background: linear-gradient(to bottom, #6600ff 0%, #cc66ff 100%);
                    border-top-left-radius: 14px;
                    border-top-right-radius: 14px;
                }
                
                .buttons {
                    padding: 20px 20px 0 20px;
                    align-items: center;
                }
                
                .row {
                    width: 280px;
                    float: left;
                }
                
                input[type=button] {
                    width: 60px;
                    height: 60px;
                    float: left;
                    padding: 0;
                    margin: 5px;
                    box-sizing: border-box;
                    background: #333399;
                    border: none;
                    font-size: 30px;
                    line-height: 30px;
                    border-radius: 50%;
                    font-weight: 700;
                    color: #ddd;
                    cursor: pointer;
                }
                
                input[type=button]:hover {
                    background: #2a2a7c;
                }
                
                input[type=text] {
                    width: 270px;
                    height: 60px;
                    float: left;
                    padding: 0;
                    box-sizing: border-box;
                    border: none;
                    background: none;
                    color: #ffffff;
                    text-align: right;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 60px;
                    margin: 0 25px;
                }
                
                .red:hover {
                    background: #50039e !important;
                }
                
                .red {
                    background: #6600cc !important;
                    color: #ffffff !important;
                }
                
                .header {
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    border: 2px solid #25252c;
                    border-image: auto;
                    padding: 20px;
                }
                
                .header .header-contact h6 {
                    text-align: right;
                    letter-spacing: 2px;
                    font-size: 15px;
                    color: #fff;
                    font-family: sans-serif;
                    font-style: italic;
                    text-decoration-line: underline;
                    margin: 2px;
                }
                
                .header .header-contact p {
                    letter-spacing: 1px;
                    text-align: right;
                    color: #fff;
                    margin: 12px;
                }
                
                .header .header-contact p .email-text {
                    font-size: 15px;
                    color: aqua;
                }
                
                .header .header-contact p a:hover {
                    color: #ddd;
                    text-decoration: underline;
                }
                
                .header .Github a {
                    color: #fff;
                    text-transform: uppercase;
                    text-decoration: none;
                }
                
                .header .Github a:hover {
                    color: #ddd;
                    background: transparent;
                    font-size: bolder;
                }
                
                #link {
                    color: #fff;
                    letter-spacing: 3px;
                    text-align: right;
                    margin-top: 15px;
                }
                
                @media screen and (max-width: 991px) {
                    .container {
                        margin-top: 5px;
                    }
                    h6 {
                        display: none;
                    }
                    body,
                    html {
                        background-image: linear-gradient(#000099, #6699ff);
                        background-size: cover;
                        height: 100%;
                    }
                }